{% extends 'layouts/base.html' %}
{% import 'run_search_box.html' as search_box%}

{% set page_title = 'Test Conditions' %}

{% block container %}

{{ search_box.run_search_box(condition_types=all_conditions, run_from=run_from, run_to=run_to, search_query=search_query, form_url=url_for("select_values.search")) }}

<div class="container">

    <div class="blog-header"><h3 class="blog-title">Custom table</h3></div>


    <div class="row">
        <div class="col-md-4">
            <table class="table">
                <thead>
                    <tr>
                        <th>Run</th>
                        {% for cnd_name in req_conditions_value %}
                            <th>{{ cnd_name }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody id="column1-body">
                    {% for row in table %}
                        <tr>
                            {% for col in row %}
                                <td>{{ col }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>

{% endblock %}

{% block js_btm %}
    {{ super() }}


    <script>

        let conditionSelect = document.getElementById('condition-select');
        let column2Body = document.getElementById('column2-body');

        conditionSelect.addEventListener('change', function() {
            let selectedValue = conditionSelect.value;
            column2Body.innerHTML = '';

            if (selectedValue) {
                let newRow = document.createElement('tr');
                let column2 = document.createElement('td');
                column2.textContent = selectedValue;
                newRow.appendChild(column2);
                column2Body.appendChild(newRow);
            }
        });
    </script>
    {{ search_box.run_search_box_scripts(condition_types) }}
{% endblock %}