{% extends 'layouts/base.html' %}

{% set page_title = 'Test Conditions' %}

{% block container %}

<div class="container">

    <div class="blog-header"><h3 class="blog-title">Test Conditions</h3></div>

{#    <div class="row">#}
{#    <!-- Ниспадающий список -->#}
{#        <div class="col-md-4">#}
{#            <select id="condition-select" class="form-control">#}
{#                <option value="">Conditions</option>#}
{#                {% for condition in conditions %}#}
{#                    <option value="{{ condition.name }}">{{ condition.name }}</option>#}
{#                {% endfor %}#}
{#            </select>#}
{#        </div>#}
{##}
{#        <!-- Таблица с двумя столбцами -->#}
{#        <div class="col-md-8">#}
{#            <table class="table">#}
{#                <thead>#}
{#                    <tr>#}
{#                        <th>Column 1</th>#}
{#                        <th>Column 2</th>#}
{#                    </tr>#}
{#                </thead>#}
{#                <tbody id="table-body">#}
{#                    <!-- Сюда будут добавляться строки из ниспадающего списка -->#}
{#                </tbody>#}
{#            </table>#}
{#        </div>#}
{#    </div>#}

    <div class="row">
        <div class="col-md-13">
            <div class="col-md-4">

            </div>
        </div>
        <div class="col-md-13">
            <div class="col-md-4">
                <select id="condition-select" class="form-control">
                    <option value="">Conditions</option>
                    {% for condition in conditions %}
                        <option value="{{ condition.name }}">{{ condition.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-4">
            <table class="table">
                <thead>
                    <tr>
                        <th>Runs</th>
                    </tr>
                </thead>
                <tbody id="column1-body">
                    {% for row in table %}
                        <tr>
                            <td>{{ row.run_number }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="col-md-4">

            <table class="table">
                <thead>
                    <tr>
                        <th>Conditions</th>
                    </tr>
                </thead>
                <tbody id="column2-body">

                </tbody>
            </table>
        </div>
    </div>

</div>

{% endblock %}

{% block js_btm %}
    {{ super() }}


    <script>
        let conditionSelect = document.getElementById('condition-select');
        let column2Body = document.getElementById('column2-body');

        conditionSelect.addEventListener('change', function() {
            let selectedValue = conditionSelect.value;
            column2Body.innerHTML = '';

            if (selectedValue) {
                let newRow = document.createElement('tr');
                let column2 = document.createElement('td');
                column2.textContent = selectedValue;
                newRow.appendChild(column2);
                column2Body.appendChild(newRow);
            }
        });
    </script>


{% endblock %}