{% macro run_search_box(condition_types=[], run_from=-1, run_to=-1, search_query="") %}
    {% set run_from_str = "" if run_from == -1 else run_from %}
    {% set run_to_str = "" if run_to == -1 else run_to %}

    <div class="container">
        <div class="panel panel-default">
            <div class="panel-body">
                 <form  role="search" action="{{ url_for('runs.search') }}" method="get">
                     <div class="row ">
                         <div class="col-md-3">
                             <div class="row ">
                                 <div class="col-sm-6">
                                     <label class="small" for="run-min-inp">Run min</label>
                                     <div class="input-group">
                                         <input type="text" class="form-control input-sm" id="run-min-inp" name="runFrom" placeholder="0" value="{{ run_from_str }}">
                                         <div class="input-group-btn">
                                             <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                                             <ul class="dropdown-menu">
                                                 <li><p class="text-center"><strong>Run periods:</strong></p></li>
                                                 <li class="divider"></li>
                                                 <li><a class="rr-min-selector" data-run-min="70000" data-run-max="79999" href="#">[70000+] 2019-01 2020</a></li>
                                                 <li><a class="rr-min-selector" data-run-min="60000" data-run-max="69999" href="#">[60000+] 2019-01 2019-04 – DIRC-com/PrimEx</a></li>
                                                 <li><a class="rr-min-selector" data-run-min="50000" data-run-max="59999" href="#">[50000+] 2018-08 2018-11 – 78B GlueX-I/PrimEx-Com</a></li>
                                                 <li><a class="rr-min-selector" data-run-min="40000" data-run-max="49999" href="#">[40000+] 2018-01 2018-05 – 145B</a></li>
                                                 <li><a class="rr-min-selector" data-run-min="30000" data-run-max="39999" href="#">[30000+] 2017-01 2017-04 – 50B 12 GeV e-</a></li>
                                                 <li><a class="rr-min-selector" data-run-min="20000" data-run-max="29999" href="#">[20000+] 2016-10 2016-12 – 7B  12 GeV e-</a></li>
                                                 <li><a class="rr-min-selector" data-run-min="10000" data-run-max="19999" href="#">[10000+] 2016-02</a></li>
                                                 <li><a class="rr-min-selector" data-run-min="3939" data-run-max="9999" href="#">[3939, 10000) 2015-12</a></li>
                                                 <li><a class="rr-min-selector" data-run-min="3607" data-run-max="3939" href="#">[3607, 3939]2015-06</a></li>
                                             </ul>
                                         </div>
                                    </div>
                                 </div>
                                 <div class="col-sm-6">
                                     <label class="small" for="run-max-inp">Run max</label>
                                     <div class="input-group">
                                         <input type="text" class="form-control input-sm" id="run-max-inp"  name="runTo" placeholder="inf"  value="{{ run_to_str }}">
                                         <div class="input-group-btn">
                                             <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                                             <ul class="dropdown-menu">
                                                 <li><p class="text-center"><strong>Run periods:</strong></p></li>
                                                 <li class="divider"></li>
                                                 <li><a class="rr-min-selector" data-run-min="70000" data-run-max="79999" href="#">[70000+] 2019-01 2020</a></li>
                                                 <li><a class="rr-min-selector" data-run-min="60000" data-run-max="69999" href="#">[60000+] 2019-01 2019-04 – DIRC-com/PrimEx</a></li>
                                                 <li><a class="rr-min-selector" data-run-min="50000" data-run-max="59999" href="#">[50000+] 2018-08 2018-11 – 78B GlueX-I/PrimEx-Com</a></li>
                                                 <li><a class="rr-min-selector" data-run-min="40000" data-run-max="49999" href="#">[40000+] 2018-01 2018-05 – 145B</a></li>
                                                 <li><a class="rr-min-selector" data-run-min="30000" data-run-max="39999" href="#">[30000+] 2017-01 2017-04 – 50B 12 GeV e-</a></li>
                                                 <li><a class="rr-min-selector" data-run-min="20000" data-run-max="29999" href="#">[20000+] 2016-10 2016-12 – 7B  12 GeV e-</a></li>
                                                 <li><a class="rr-min-selector" data-run-min="10000" data-run-max="19999" href="#">[10000+] 2016-02</a></li>
                                                 <li><a class="rr-min-selector" data-run-min="3939" data-run-max="9999" href="#">[3939, 10000) 2015-12</a></li>
                                                 <li><a class="rr-min-selector" data-run-min="3607" data-run-max="3939" href="#">[3607, 3939]2015-06</a></li>
                                             </ul>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                         </div>
                         <div class="col-sm-8">
                             <label class="small" for="queryInput">Search query</label>
                             <div class="input-group ">
                                 <input class="form-control  input-sm" rows="1" id="queryInput" name="q" placeholder="event_count>10000 ...(ctrl+space for autocomplete)" value="{{ search_query|safe }}"  />
                                 <div class="input-group-btn">
                                     <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                                     <ul class="dropdown-menu">
                                         <li><p class="text-center"><strong>Standard search aliases:</strong></p></li>
                                         <li class="divider"></li>
                                         {% for rcdb_alias in rcdb_default_alias %}
                                             <li><a class="q-alias-selector" data-alias-name="{{ rcdb_alias.name }}" href="#">{{ rcdb_alias.comment }} [@{{ rcdb_alias.name }}]</a></li>
                                         {% endfor %}
                                     </ul>
                                     <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#slectConditionTypeModal">
                                        <span class="glyphicon glyphicon-list"></span>
                                     </button>
                                     <button id="qGoBtn" type="submit" class="btn btn-primary btn-sm">
                                         <span class="glyphicon glyphicon-search"  aria-hidden="true"></span>
                                     </button>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </form>
            </div>

            <!-- Modal -->
            <div class="modal fade " id="slectConditionTypeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <h4 class="modal-title" id="myModalLabel">Select conditions</h4>
                        </div>
                        <div class="modal-body">
                            <table class="table table-hover ct-select-table">
                                <tr>
                                    <th>Name</th>
                                    <th style="width: 5%">Type</th>
                                    <th style="width: 70%">Description</th>
                                </tr>

                                {% for condition in condition_types %}
                                <tr class="ct-select-tr" data-ct-name="{{ condition.name }}">
                                    <td>{{ condition.name }}</td>
                                    <td> <span class="label {{ condition.value_type }}-type">{{ condition.value_type }}</span></td>
                                    <td>{{ condition.description }}</td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro run_search_box_scripts(condition_types=[], run_from=-1, run_to=-1, search_query="") %}
    <script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/webintellisense.js') }}"></script>
    <script src="{{ url_for('static', filename='js/webintellisense-textbox.js') }}"></script>


    <script>
        jQuery(document).ready(function() {
            $(".rr-min-selector").click(function( event ) {
                event.preventDefault();
                var lnk_btn = $(this);
                var run_min = lnk_btn.attr("data-run-min");
                var run_max =  lnk_btn.attr("data-run-max");
                $("#run-min-inp").val(run_min);
                $("#run-max-inp").val(run_max);
            });
            $(".rr-max-selector").click(function( event ) {
                event.preventDefault();
                var lnk_btn = $(this);
                var run_max =  lnk_btn.attr("data-run-max");
                $("#run-max-inp").val(run_max);
            });
            $(".ct-select-tr").click(function( event ) {
                var ct_tr = $(this);
                var input = $("#queryInput");
                var text = input.val();
                var ct_name = ct_tr.attr("data-ct-name");
                input.val(text + " " + ct_name);
                ct_tr.highlight();
            });

            // code
            var $editor = $('#queryInput');
            var intellisense = new TextBoxIntellisense('queryInput');

            // add triggers when the user presses the `@` key
            intellisense.addDeclarationTrigger({ keyCode: 50 });  // 50 = `@`
            intellisense.addDeclarationTrigger({ keyCode: 50, shiftKey: true });
            intellisense.addDeclarationTrigger({ keyCode: 32, ctrlKey: true, preventDefault: true }); // `ctrl+space`


            // set the filter mode for the declarations list, this will search
            // both the name and the value
            intellisense.getDecls().setFilterMode(function (item, filterText)
            {
                return item.name.toLowerCase().indexOf(filterText.toLowerCase()) >= 0
                    || item.value.toLowerCase().indexOf(filterText.toLowerCase()) >= 0;
            });

            // called when the declarations are triggered
            intellisense.onDeclaration(function (item)
            {
                var cnd_types = [
                    {% for condition in condition_types %}
                        { glyph: 2, name: '{{ condition.name }}', value: '{{ condition.name }}' {% if condition.description %} , documentation:'{{ condition.description }}' {% endif %} },
                    {% endfor %}
                ];

                var aliases = [
                    {% for rcdb_alias in rcdb_default_alias %}
                        { glyph: 3, name: '@{{ rcdb_alias.name }}', value: '{{ rcdb_alias.name }}' {% if rcdb_alias.comment %} , documentation:'{{ rcdb_alias.comment }}' {% endif %} },
                    {% endfor %}
                ]

                 // hide when the users presses `backspace` or `)`
                if (item.keyCode === 50 )
                {
                     intellisense.setDeclarations(aliases);
                }
                else
                {
                     intellisense.setDeclarations(cnd_types);
                }
            });
        });
    </script>
{% endmacro %}