{% macro default_run_table(runs, DefaultConditions) %}
            <!-- Table -->
            <table class="table table-responsive table-hover">
                <tr>
                    <th>Number</th>
                    <th>Date</th>
                    <th>Length</th>
                    <th>Events</th>
                    <th>Run config</th>
                    <th>Daq setup</th>
                    <th>Comment</th>
                </tr>
                {% for run in runs %}
                    {% set conditions_by_name =  run.get_conditions_by_name() %}
                    <tr>
                        <td>
                            <a  name="run{{ run.number }}" class="btn btn-default btn-sm"
                               href="{{ url_for('runs.info', run_number=run.number) }}">{{ run.number }}</a>
                        </td>
                        <td>{{ run.start_time }}</td>
                        <td>
                            {% if run.end_time and run.start_time %}
                                {{ run.end_time - run.start_time }}
                            {% endif %}
                        </td>
                        <td>
                            {% if DefaultConditions.EVENT_COUNT in conditions_by_name %}
                                {{ conditions_by_name[DefaultConditions.EVENT_COUNT].value }}
                            {% endif %}
                        </td>
                         <td style="font-size: 0.9em; font-weight: bold">
                            {% if DefaultConditions.RUN_CONFIG in conditions_by_name %}
                                {{ conditions_by_name[DefaultConditions.RUN_CONFIG].value|remove_dot_conf }}
                            {% endif %}
                        </td>
                        <td style="font-size: 0.9em; font-weight: bold">
                            {% if DefaultConditions.DAQ_SETUP in conditions_by_name %}
                                {{ conditions_by_name[DefaultConditions.DAQ_SETUP].value|remove_dot_conf }}
                            {% endif %}
                        </td>
                        <td style="word-break: break-all; width: 30%; font-size: 0.8em;">
                            {% if DefaultConditions.USER_COMMENT in conditions_by_name %}
                                {{ conditions_by_name[DefaultConditions.USER_COMMENT].value }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
{% endmacro %}