{% macro default_run_table(runs, DefaultConditions, search_boxes=false) %}
            <!-- Table -->
            <table class="table table-responsive table-hover" id="runs-table">
                <thead>

                <tr>
                    <th id="run-column-header">Number<br/></th>
                    <th id="start-time-column-header">Start time<br/></th>
                    <th id="length-column-header">Length<br/></th>
                    <th id="event-count-column-header">Events<br/></th>
                    <th id="run-config-column-header">Run config<br/></th>
                    <th id="run-type-column-header">Run type<br/></th>
                    <th id="comment-column-header">Comment<br/></th>
                </tr>
                </thead>
                <tbody>
                    {% for run in runs %}
                        {% set conditions_by_name =  run.get_conditions_by_name() %}
                        <tr>
                            <td>
                                <a  name="run{{ run.number }}" class="btn btn-default btn-sm"
                                   href="{{ url_for('runs.info', run_number=run.number) }}">{{ run.number }}</a>
                            </td>
                            <td>{{ run.start_time }}</td>
                            <td>
                                {% if run.end_time and run.start_time %}
                                    {{ run.end_time - run.start_time }}
                                {% endif %}
                            </td>
                            <td>
                                {% if DefaultConditions.EVENT_COUNT in conditions_by_name %}
                                    {{ conditions_by_name[DefaultConditions.EVENT_COUNT].value }}
                                {% else %}
                                    -1
                                {% endif %}
                            </td>
                             <td style="font-size: 0.9em; font-weight: bold">
                                {% if DefaultConditions.RUN_CONFIG in conditions_by_name %}
                                    {{ conditions_by_name[DefaultConditions.RUN_CONFIG].value|remove_dot_conf }}
                                {% endif %}
                            </td>
                            <td style="font-size: 0.9em; font-weight: bold">
                                {% if DefaultConditions.RUN_TYPE in conditions_by_name %}
                                    {{ conditions_by_name[DefaultConditions.RUN_TYPE].value|remove_dot_conf }}
                                {% endif %}
                            </td>
                            <td style="word-break: break-all; width: 30%; font-size: 0.8em;">
                                {% if DefaultConditions.USER_COMMENT in conditions_by_name %}
                                    {{ conditions_by_name[DefaultConditions.USER_COMMENT].value }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
{% endmacro %}