exclude .gitignore
exclude daq
exclude examples
exclude halld_rcdb
exclude tests
exclude utilites


include ../README.md
recursive-include rcdb *.py
recursive-include rcdb/web/static *
recursive-include rcdb/web/templates *