{% extends 'layouts/base.html' %}

{% set page_title = 'Statistics' %}

{% block container %}

<div class="container">

    <div class="blog-header"><h3 class="blog-title">Statistics</h3></div>

    <table class="table">
        <!-- Run count -->
        <tr><td>Run count</td><td>{{ run_count }}</td></tr>

        <!-- Last run -->
        <tr>
            <td>Last run</td>
            <td>
                <a class="btn btn-default btn-sm" href="{{ url_for('runs.info', run_number=run_last.number) }}">{{ run_last.number }}</a>
                &nbsp; Started: {{ run_last.start_time }}
            </td>
        </tr>

        <!-- Boards count -->
        <tr> <td>Boards in DB</td> <td>{{ boards_count }}</td> </tr>

        <!-- Crates count -->
        <tr> <td>Crates in DB</td> <td>{{ crates_count }}</td> </tr>
    </table>
</div>

{% endblock %}