{% extends 'layouts/base.html' %}
{% from '../render_pagination.html' import render_pagination %}
{% set page_title = 'Logs' %}

{% block container %}

<div class="container">

    <div class="blog-header"><h3 class="blog-title">Logs</h3></div>

    <table class="table">
        <tr>
            <th style="width: 200px">Time</th>
            <th style="width: 70%">Description</th>
            <th style="width: 10%">Run</th>
        </tr>

        {% for record in log_records %}
        <tr>
            <td>{{ record.created }}</td>
            <td>{{ record.description }}</td>
            <td>{{ record.related_run_number }}</td>
        </tr>
        {% endfor %}
    </table>

    <p>
    Log records from {{ pagination.item_limit_from }} to {{ pagination.item_limit_to }} total {{ pagination.total_count }}
    </p>


    {{ render_pagination(pagination) }}
</div>
{% endblock %}
