{% import 'default_run_table.html' as table%}
{% from 'render_pagination.html' import render_pagination %}

{% extends 'layouts/base.html' %}

{% set page_title = 'Runs' %}

{% block container %}

<div class="container">

    <div class="blog-header">
        <h3 class="blog-title">
            Runs
        </h3>
         <div class="pull-right"> {{ render_pagination(pagination) }}</div>
    </div>

    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
            {% if runs %}
                Showing runs: {{ runs[-1].number }} -  {{ runs[0].number }}. {{ pagination.per_page }} runs per page. Total runs: {{ pagination.total_count }}
            {% else %}
                No runs found
            {% endif %}
        </div>
        <div class="panel-body" >

        </div>
        {{ table.default_run_table(runs, DefaultConditions) }}

    </div>

    {{ render_pagination(pagination) }}
</div>

{% endblock %}
