{% extends 'layouts/base.html' %}

{% set page_title = 'Run {0} information'.format(run.number) %}

{% block container %}

<div class="container">
    <!-- HEADER -->
    <div class="blog-header">
        <h1 class="blog-title">{{ run.number }}</h1>

        <!-- TIME -->
        <p class="lead blog-description">
            {% if run.start_time %}
                Run start {{ run.start_time }}
            {% else %}
                No run start information
            {% endif %}
            {% if run.end_time %}
                Run ended {{ run.end_time }}
            {% else %}
                No run end information
            {% endif %}
            {% if run.end_time and run.start_time %}
                Length {{ run.end_time - run.start_time }}
            {% endif %}
        </p>
        <div class="lead blog-description">
            <div class="row"><h2>Events: {{ run.total_events }}</h2></div>
        </div>
    </div>

    <div class="row" id="content">

        <!-- CONTENT BAR -->
        <div class="col-sm-10 blog-main" id="central_bar">

            <!-- FILES ITERATION -->
            <div class="blog-post" id="files_sec">
                <h2 class="blog-post-title">Files</h2>
                <table class="table table-striped">
                    {% for file in run.files %}
                    <tr>
                        <td><a href="{{ url_for("files.info", file_db_id=file.id) }}">{{ file.path }}</a></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>

            <!-- CRATES ITERATION -->
            <div class="blog-post" id="crates_sec">
                {% for crate in board_installs_by_crate.keys() %}
                <a name="crate_{{ crate.name }}"></a>
                <div class="panel panel-default">
                    <div class="panel-heading"><h3>{{ crate.name }}</h3></div>
                    One two three!
                    <table class="table table-striped">
                        <tr class="small">
                            <th>Slot</th>
                            <th style="width: 100%">Board</th>
                            <th>Config</th>
                        </tr>
                        {% for board_install in board_installs_by_crate[crate] %}
                        <tr>
                            <td>{{ board_install.slot }}</td>
                            <td>
                                <a class="btn" href="{{ url_for("boards.info", board_id=board_install.board_id) }}">
                                    {{ board_install.board.board_type }} {{ board_install.board.serial }}
                                </a>
                            </td>
                            <td>
                                <a class="btn btn-default btn-xs" href="{{ url_for("boards.board_in_run", board_id=board_install.board_id, run_number=run.number) }}">
                                    {{ board_install.version }}
                                    <span class="glyphicon glyphicon-eye-open "></span>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                {% endfor %}
            </div>


            <div class="blog-post">
                <p class="blog-post-meta">All conditions</p>
                <div class="panel panel-default">
                    <table class="table my-table">
                        <tr class="text-info">
                            <th>Name</th>
                            <th>Value</th>
                            <th>Date</th>
                        </tr>
                        {% for condition in conditions %}
                            <!-- skip comment records -->
                            <tr>
                                <td>{{ condition.name }}</td>
                                <td>{{ condition.value }}</td>
                                <td>{{ condition.created }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div><!-- /.blog-post -->

            <ul class="pager" id="pager">
                <li><a href="#">Previous</a></li>
                <li><a href="#">Next</a></li>
            </ul>

        </div><!-- /.blog-main -->

        <!-- SIDE BAR -->
        <div class="col-sm-2 blog-sidebar" id="side_bar">

            <!-- START COMMENT -->
            {% if DefaultConditions.USER_COMMENT in conditions_by_name.keys() %}
            <div class="sidebar-module sidebar-module-inset">
                <h4>User comment</h4>
                <p>{{ conditions_by_name[DefaultConditions.USER_COMMENT].value }}</p>
            </div>
            {% endif %}


            <!-- -->
            <div class="sidebar-module">
                <h4>Trigger: sample_v1</h4>
                <ol class="list-unstyled">
                    <li><a href="#">name1 value1</a></li>
                    <li><a href="#">name2 value2</a></li>
                    <li><a href="#">name3 value3</a></li>
                    <li><a href="#">name4 value4</a></li>
                </ol>
            </div>

            <!-- -->
            <div class="sidebar-module">
                <h4>Statistics</h4>
                <ol class="list-unstyled">
                    <li><a href="#">name1 value1</a></li>
                    <li><a href="#">name2 value2</a></li>
                    <li><a href="#">name3 value3</a></li>
                </ol>
            </div>
        </div><!-- /.blog-sidebar -->
    </div><!-- /.row -->
</div><!-- /.container -->


{% endblock %}
